<!Doctype html>
<html>
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='frontend.js') }}"></script></head>

<body>
<p>OK. You have to consume the api. So do it.

    <form enctype="multipart/form-data" >
        <input type="file" value="upload file here" name="thisfile"/>
        <br />
        <br />
        <input type="button" value="ImageHandler" class="submit-button"/>
    </form>


</body>
</html>
